html {
    display: flex;
    justify-content: center;
}
footer {
    margin-left: 5%;
    margin-right: 5%;
}
div {
    display: flex;
}
.header-container__menu {
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
}
.header-container__logo {
    display: flex;
    align-content: center;
    flex-direction: row-reverse;
}
.logo__icon {
    align-items: center;
}
.icon__text {
    align-items: center;
    margin-left: 30%;
}
.logo__text {
    flex-direction: column;
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 10%;
}
.menu__p {
    margin-left: 10%;
}
.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.services-container__header {
    flex-direction: column;
    align-items: center;
}
.services-container__item-wrapper {
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-wrapper__logo {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    flex-direction: column;
    align-items: center;
}
.logo__image1 {
    margin-top: -2%;
}
.logo__image3 {
    margin-top: 2%;
}
.logo__image4 {
    margin-top: -2%;
}
.logo__image6 {
    margin-top: -11%;
}
.logo__image6-text {
    margin-top: 0%;
}
.logo__text1 {
    margin-top: 11%;
}
.samples-container {
    flex-direction: column;
    align-items: center;
}
.anchor-div__button {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 25%;
}
.comments-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.comments-container__header {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.comments-container__header--opaque {
    margin-top: -10%;
}
.comments-container__comments-item {
    flex-direction: column;
}
.comments-item__top-cm {
    flex-direction: row;
    width: 100%;
    height: 90%;
}
.comments-item__bot-cm {
    width: 100%;
    height: 50%;
    flex-direction: row;
}
.comments-item__bot-left-cm {
    width: 500%;
    height: 100%;
    flex-direction: column;
}
.comments-item__cm-div {
    flex-direction: column;
}
.clients-container {
    flex-direction: column;
    align-items: center;
}
.clients-container__header {
    flex-direction: column;
    align-items: center;
}
.clients-container__header--opaque {
    margin-top: -5%;
    margin-bottom: 20%;
}
#client-logos-position {
    margin-left: -2%;
    margin-right: -2%;
}
.clients-container__client-logos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.logo__footer-icon {
    align-items: center;
}
.logo__footer-text {
    margin-left: 30%;
}
.footer-container {
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}
.footer-container__text {
    flex-direction: row-reverse;
}
.text__social-media-cont {
    flex-direction: column;
    width: 20%;
    direction: rtl;
}
.text__stats {
    flex-direction: column;
    width: 35%;
}
.text__designer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 45%;
}
.div-icon__the-dummy {
    position: relative;
    z-index: 2;
    bottom: -5px;
    right: 50px;
}
.div-icon__the-line {
    border-top: 1px solid rgb(231, 231, 231);
    width: 900px;
    left: 5%;
    bottom: -150px;
    position: relative;
    z-index: 1;
}