html {
    display: flex;
    justify-content: center;
}
footer {
    margin-left: 5%;
    margin-right: 5%;
}
div {
    display: flex;
}
.top-cm {
    width: 100%;
    height: 90%;
}
.bot-cm {
    width: 100%;
    height: 50%;
}
.bot-cm2 {
    width: 500%;
    height: 100%;
}
.arm {
    display: flex;
    align-content: center;
    flex-direction: row-reverse;
}
.arm-icon {
    align-items: center;
}
.arm-icon2 {
    align-items: center;
}
.arm-text {
    flex-direction: column;
}
.khadamat-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.khadamat-text {
    flex-direction: column;
    align-items: center;
}
.khadamat-text2 {
    margin-top: -5%;
    opacity: 0.5;
}
.logos-cont {
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
}
.logo1 {
    transform: scale(1.1);
    margin-top: -2%;
}
.logo3 {
    margin-top: 2%;
}
.logo4 {
    margin-top: -2%;
}
.logo6 {
    transform: scale(0.8);
    margin-top: -11%;
}
.logo6-text {
    margin-top: 0%;
}
.logo1-text {
    margin-top: 11%;
}
.each-logo {
    flex-direction: column;
    align-items: center;
}
.nemoone-kar {
    flex-direction: column;
    align-items: center;
}
.show-all-nemoone-kar {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 25%;
}
.nazarat-cont {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nazarat-topic {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nazarat-text {
    margin-top: -10%;
}
.comments-cont {
    flex-direction: column;
}
.top-cm {
    flex-direction: row;
}
.bot-cm {
    flex-direction: row;
}
.bot-cm2 {
    flex-direction: column;
}
.each-cm {
    flex-direction: column;
}
.comp-cont {
    flex-direction: column;
    align-items: center;
}
.comp-text {
    flex-direction: column;
    align-items: center;
}
.comp.p {
    margin-top: -5%;
    margin-bottom: 20%;
}
.each.comp-logos {
    margin-left: -2%;
    margin-right: -2%;
}
.comp-logos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.logo-icon {
    align-items: center;
}
.logo.icon2 {
    margin-left: 30%;
}
.footer-cont {
    flex-direction: column;
    align-items: center;
}
.footer-text {
    flex-direction: row-reverse;
}
.social-media-cont {
    flex-direction: column;
}
.our-stats {
    flex-direction: column;
}
.copy {
    flex-direction: column;
    text-align: center;
    align-items: center;
}