html {
    display: flex;
    justify-content: center;
}
footer {
    margin-left: 5%;
    margin-right: 5%;
}
div {
    display: flex;
}
.header-container__menu {
    margin-left: 5%;
    margin-top: 2%;
}
.header-container__logo {
    display: flex;
    align-content: center;
    flex-direction: row-reverse;
}
.header-container__logo-icon {
    align-items: center;
}
.header-container__logo-text {
    align-items: center;
    margin-left: 30%;
}
.header-container__logo-name {
    flex-direction: column;
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 10%;
}
.header-container__p {
    margin-left: 10%;
}
.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-container__header {
    flex-direction: column;
    align-items: center;
}
.services-container__wrapper{
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services-container__providing-services-wrapper {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    flex-direction: column;
    align-items: center;
}
.samples-container {
    flex-direction: column;
    align-items: center;
}
.anchor-div__button {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 25%;
}
.comments-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.comments-container__header {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.comments-container__comments-wrapper {
    flex-direction: column;
}
.comments-container__top-row {
    flex-direction: row;
    height: 90%;
}
.comments-container__bot-row {
    height: 50%;
    flex-direction: row;
}
.comments-container__bot-column {
    width: 500%;
    height: 100%;
    flex-direction: column;
}
.comments-container__comment-wrapper {
    flex-direction: column;
}
.clients-container {
    flex-direction: column;
    align-items: center;
}
.clients-container__header {
    flex-direction: column;
    align-items: center;
}
.client-logos-position {
    margin-left: -2%;
    margin-right: -2%;
}
.clients-container__clients-logos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.footer-container__logo-icon {
    align-items: center;
}
.footer-container__logo-text {
    margin-left: 30%;
}
.footer-container {
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}
.footer-container__wrapper {
    flex-direction: row-reverse;
}
.footer-container__socialmedia-wrapper {
    flex-direction: column;
    width: 20%;
    direction: rtl;
}
.footer-container__stats-wrapper {
    flex-direction: column;
    width: 35%;
}
.footer-container__copyright-wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 45%;
}
#footer-dummy-positioning {
    position: relative;
    z-index: 2;
    bottom: -5px;
    right: 50px;
}
#footer-line-positioning {
    width: 900px;
    left: 5%;
    bottom: -150px;
    position: relative;
    z-index: 1;
}