html {

}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.p-header {
    display: grid;
    justify-self: stretch;
}
.arm {
    display: grid;
    grid-template-columns: 1fr 5fr;
    direction: rtl;
}
.arm-icon {
    justify-self: left;
    margin-right: 65%;
    margin-top: 15%;
}
.arm-icon2 {
    margin-right: 25%;
    margin-top: 5%;
}
.arm-text {
    margin-right: 2%;
}
.khadamat-cont {
    display: grid;
    grid-template-rows: auto auto;
}
.khadamat-text {
    justify-self: center;
}
h2 {
    text-align: center;
}
.khadamat-text2 {
    justify-self: center;
}
.logos-cont {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    justify-self: center;
}
.each-logo {
    text-align: center;
}
.logo1 {
    margin-left: 25%;
}
.logo2 {
    margin-left: 25%;
}
.logo3 {
    margin-left: 25%;
}
.logo4 {
    margin-left: 25%;
}
.logo5 {
    margin-left: 25%;
}
.logo6 {
    margin-left: 25%;
}
.nemoone-kar {
    display: grid;
    justify-self: center;
}
h1 {
    text-align: center;
}
.js-cont {
    justify-self: center;
}
.show-samples {
    justify-self: center;
}
.nazarat-cont {
    display: grid;
    justify-self: center;
}
.nazarat-text {
    text-align: center;
    margin-top: -1.5%;
}
.comments-cont {
    margin-top: 15%;
    justify-self: center;
}
.top-cm {
    grid-template-columns: 2fr 1fr;
    display: grid;
    direction: rtl;
}
.bot-cm {
    grid-template-columns: 1fr 1fr;
    display: grid;
    direction: rtl;
}
.bot-cm2 {
    display: grid;
}
.comp-cont {
    display: grid;
}
.comp-p {
    margin-bottom: 15%;
}
.comp-logos {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-self: center;
}
#each-comp-logos {
    justify-self: center;
}
.logo-icon2 {
    text-align: center;
}