.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header-container__menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.menu__p {
    display: grid;
    justify-self: stretch;
}
.header-container__logo {
    display: grid;
    grid-template-columns: 1fr 5fr;
    direction: rtl;
}
.logo__icon {
    justify-self: left;
    margin-right: 65%;
    margin-top: 15%;
}
.icon__text {
    margin-right: 25%;
    margin-top: 5%;
}
.logo__text {
    margin-right: 2%;
}
.services-container {
    display: grid;
    grid-template-rows: auto auto;
}
.services-container__header {
    justify-self: center;
}
h2 {
    text-align: center;
}
.services-container__header--opaque {
    justify-self: center;
}
.services-container__item-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    justify-self: center;
}
.item-wrapper__logo {
    text-align: center;
}
.logo__image1 {
    margin-left: 25%;
}
.logo__image2 {
    margin-left: 25%;
}
.logo__image3 {
    margin-left: 25%;
}
.logo__image4 {
    margin-left: 25%;
}
.logo__image5 {
    margin-left: 25%;
}
.logo__image6 {
    margin-left: 25%;
}
.samples-container {
    display: grid;
    justify-self: center;
}
h1 {
    text-align: center;
}
.samples-container__js-cont {
    justify-self: center;
}
.samples-container__anchor-div {
    justify-self: center;
}
.comments-container {
    display: grid;
    justify-self: center;
}
.comments-container__header--opaque {
    text-align: center;
    margin-top: -1.5%;
}
.comments-container__comments-item {
    margin-top: 15%;
    justify-self: center;
}
.comments-item__top-cm {
    grid-template-columns: 2fr 1fr;
    display: grid;
    direction: rtl;
}
.comments-item__bot-cm {
    grid-template-columns: 1fr 1fr;
    display: grid;
    direction: rtl;
}
.comments-item__bot-left-cm {
    display: grid;
}
.clients-container {
    display: grid;
}
.clients-container__header--opaque {
    margin-bottom: 15%;
}
.clients-container__client-logos {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-self: center;
}
#client-logos-position {
    justify-self: center;
}
.footer-container {
    margin-top: 15%;
}
.div-icon__the-dummy {
    position: relative;
    z-index: 2;
    right: 75px;
}
.div-icon__the-line {
    border-top: 1px solid rgb(231, 231, 231);
    z-index: 1;
    max-width: 900px;
    left: -70px;
    bottom: 48px;
    position: relative;
}
.footer-container__text {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    direction: rtl;
    justify-self: center;
    height: auto;
}
.text__social-media-cont {
    margin-bottom: 15%;
    margin-right: 25%;
}
#each-socialmedia-position {
    margin-right: 10%;
    display: flex;
    margin-bottom: -5%;
    margin-top: -7%;
}
.text__stats {
    justify-self: center;
}
.text__designer {
    justify-self: center;
    text-align: center;
    margin-top: -5%;
}
.designer__text {
    margin-right: 16%;
}
.logo__footer-icon {
    margin-right: 45%;
}