html {

}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.p-header {
    display: grid;
    justify-self: stretch;
}
.arm {
    display: grid;
    grid-template-columns: 1fr 5fr;
    direction: rtl;
}
.arm-icon {
    justify-self: left;
    margin-right: 65%;
    margin-top: 15%;
}
.arm-icon2 {
    margin-right: 25%;
    margin-top: 5%;
}
.arm-text {
    margin-right: 2%;
}
.khadamat-cont {
    grid-area: khadamat;
}
.js-cont {
    grid-area: js;
}
.nazarat-cont {
    grid-area: nazarat;
}
.comp-cont {
    grid-area: companies;
}
.footer-cont {
    grid-area: footer;
}

.logo-icon2 {
    text-align: center;
}