html {
    background-color: rgb(228,228,228);
    justify-content: center;
    display: flex;
}
body {
    background-color: rgb(250,250,250);
    width: 70%;
    font-family: IRANSans;
    font-weight: 300;
}
.header-container {
    background-image: url('../Imgs/header.png');
    background-size: cover;
    min-height: 347px;
}
.header-container__logo {
    margin-right: 5%;
}
.header-container__logo-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20%;
    margin-top: 5%;
}
.header-container__logo-text {
    color: rgb(51, 200, 194);
    font-size: 2em;
    font-weight: bold;
}
.header-container__logo-name {
    width: 20%;
    direction: rtl;
    color: white;
}
.header-container__p {
    direction: rtl;
    color: white;
}
.header-container__explaination {
    width: 200%;
    margin-top: -20%;
    direction: rtl;
    margin-left: 10%;
    color: white;
    opacity: 0.5;
}
h2 {
    opacity: 0.6;
}
.topics-explanation {
    opacity: 0.5;
    margin-top: -20px;
    margin-bottom: 50px;
    text-align: center;
}
.services-container__wrapper {
    width: 80%;
    height: auto;
    margin-top: 2%;
}
h1 {
    font-size: 5vw;
    opacity: 0.05;
}
.anchor-div__button {
    background-color: white;
    border: 1.5px;
    border-style: solid;
    border-radius: 10px;
    color: rgb(51, 200, 194);
    width: 250px;
    height: 30px;
    font-family: IRANSans;
    font-weight: 300;
}
a {
    text-decoration: none;
}
.comments-container {
    margin-top: 10%;
}
.comments-container__comments-wrapper {
    width: 90%;
    height: 90%;
    background-color: rgb(250,250,250);
    min-width: 70%;
}

.comments-container__comment-wrapper {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(255,255,255);
    text-align: right;
}
.comments-container__user-name {
    margin-right: 50px;
}
.comments-container__rank {
    margin-right: 50px;
    margin-top: -5px;
    opacity: 0.5;
    font-size: small;
}
.comments-container__comments-text {
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 10%;
    min-width: 70%;
    opacity: 0.6;
    font-size: small;
}
.comments-container__quote-img {
    content: url(../imgs/comment.PNG);
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 5px;
}
.client-logos-position {
    opacity: 0.2;
}
.footer-container__logo-icon {
    width: 50px;
    height: 50px;
    background-color: rgb(51, 200, 194);
    border-radius: 20%;
    margin-top: 5%;
}
.footer-container__logo-text {
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.footer-container {
    text-align: right;
    margin-top: 150px;
}
.footer-container__footer-divider {
    direction: rtl;
    max-width: 100%;
}
.footer-container__copyright-text {
    margin-top: -2%;
    opacity: 0.5;
    font-size: 85%;
    width: 65%;
}

.footer-container__text-decoration {
    opacity: 0.5;
    font-size: 85%;
}
span {
    color: rgb(51, 200, 194);
    opacity: 1;
}
