@import url(css/fontiran.css);
@import url(css/grid.css);
html {
    background-color: rgb(228,228,228);
    justify-content: center;
    display: flex;
}
body {
    background-color: rgb(250,250,250);
    width: 70%;
    font-family: IRANSans;
    font-weight: 300;
}
@media (max-width: 500px) {
    body {
        width: 100%;
    }
}
@media (max-width: 800px) {
    body {
        width: 85%;
    }
}
.container {
    background-image: url('Imgs/header.png');
    background-size: cover;
    width: 100%;
    height: 347px;
}
.menu {

}
.arm {
    width: 100%;
    margin-right: 5%;
}
.arm-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20%;
    margin-top: 5%;
}
.arm-icon2 {
    color: rgb(51, 200, 194);
    font-size: 2em;
    font-weight: bold;
}
.arm-text {
    width: 20%;
    direction: rtl;
    color: white;
}
.p-header {
    direction: rtl;
    color: white;
}
.arm-text2 {
    width: 200%;
    margin-top: -20%;
    direction: rtl;
    margin-left: 10%;
    color: white;
    opacity: 0.5;
}
h2 {
    opacity: 0.6;
}
.khadamat-text2 {
    opacity: 0.5;
    margin-top: -5%;
}
.logos-cont {
    width: 90%;
    height: auto;
    margin-top: 2%;
}
.logo1 {
    content: url('Imgs/1.png');
    max-width: 50%;
    height: auto;
    transform: scale(1.1);
}
.logo2 {
    max-width: 50%;
    height: auto;
    content: url('Imgs/2.png');
    
}
.logo3 {
    max-width: 50%;
    height: auto;
    content: url('imgs/3.png');
}
.logo4 {
    max-width: 50%;
    height: auto;
    content: url('Imgs/4.png');
}
.logo5 {
    max-width: 50%;
    height: auto;
    content: url('Imgs/5.png');
}
.logo6 {
    max-width: 50%;
    max-height: auto;
    content: url('Imgs/6.png');
    transform: scale(0.9);
}
.logo6-text {
    margin-top: 1%;
}
h1 {
    font-size: 5vw;
    opacity: 0.05;
}
.show-all-nemoone-kar {
    background-color: white;
    border: 1.5px;
    border-style: solid;
    border-radius: 10px;
    color: rgb(51, 200, 194);
    width: 250px;
    height: 30px;
    font-family: IRANSans;
    font-weight: 300;
}
a {
    text-decoration: none;
}
.nazarat-cont {
    margin-top: 10%;
}
.nazarat-text {
    opacity: 0.5;
}
.comments-cont {
    width: 90%;
    height: 90%;
    background-color: rgb(250,250,250);
    min-width: 70%;
}

.each-cm {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(255,255,255);
    text-align: right;
}
.u-name {
    margin-right: 50px;
}
.bonyan {
    margin-right: 50px;
    margin-top: -5px;
    opacity: 0.5;
    font-size: small;
}
.cm {
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 10%;
    min-width: 70%;
    opacity: 0.6;
    font-size: small;
}
.quote {
    content: url(imgs/comment.PNG);
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 5px;
}
.comp-p {
    opacity: 0.5;
}
.comp-logos {
    width: 80%;
    height: auto;
}
.comp-logo1 {
    content: url(Imgs/comp-logo1.png);
    max-width: 50%;
    height: auto;
}
.comp-logo2 {
    content: url(Imgs/comp-logo2.png);
    max-width: 50%;
    height: auto;
}
.comp-logo3 {
    content: url(Imgs/comp-logo3.png);
    max-width: 50%;
    height: auto;
}
.comp-logo4 {
    content: url(Imgs/comp-logo1.png);
    max-width: 50%;
    height: auto;
}
.comp-logo5 {
    content: url(Imgs/comp-logo2.png);
    max-width: 50%;
    height: auto;
}
.comp-logo6 {
    content: url(Imgs/comp-logo3.png);
    max-width: 50%;
    height: auto;
}
#each-comp-logos {
    opacity: 0.2;
}
.logo-icon {
    width: 50px;
    height: 50px;
    background-color: rgb(51, 200, 194);
    border-radius: 20%;
    margin-top: 5%;
}
.logo-icon2 {
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.footer-cont {
    text-align: right;
}
.adamak-cont {
    direction: rtl;
    margin-top: 15%;
    max-width: 100%;
}
.adamak {
    content: url(Imgs/adamak2.png);
    position: relative;
    z-index: 2;
    bottom: -5px;
    right: 50px;
}
.line {
    border-top: 1px solid rgb(231, 231, 231);
    width: 900px;
    left: 5%;
    bottom: -150px;
    position: relative;
    z-index: 1;
}
.social-media-cont {
    width: 20%;
    direction: rtl;
}
.our-stats {
    width: 35%;
}
.copy {
    width: 45%;
}
.copy-p {
    margin-top: -2%;
    opacity: 0.5;
    font-size: 85%;
    width: 65%;
}
.telegram {
    content: url(Imgs/telegram.png);
    width: 15px;
    height: 15px;
    margin-left: 10%;
}
.aparat {
    content: url(Imgs/aparat.png);
    width: 15px;
    height: 15px;
    margin-left: 10%;
}
.derbil {
    content: url(Imgs/derbil.png);
    width: 15px;
    height: 15px;
    margin-left: 10%;
}
.github {
    content: url(Imgs/github.png);
    width: 15px;
    height: 15px;
    margin-left: 10%;
}
.each-p-in-footer {
    opacity: 0.5;
    font-size: 85%;
}
span {
    color: rgb(51, 200, 194);
    opacity: 1;
}